.demo-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 20px;
}

.content p:not(:where(.vp-raw *)) {
  line-height: 28px;
}

.content p {
  margin: 16px 0;
}

.flex-col {
  flex-direction: column;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
